body{
    font-size: 15px;
    padding: 0px;
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);   
    font-family: Assistant, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
   
    
}