
*{
    margin: 0;
    padding: 0;

}
body{
    font-size: 20px;
    padding: 0px;
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    color: rgb(32, 141, 32);
    font-family: Assistant, sans-serif; 
    height: 100%;
    width: 100%;
    margin: 0;
   
    
}

.x{
    
    background-image: linear-gradient(90deg,rgb(32, 79, 141), #7e57d2);
    border-radius: 0px;
}
 
.one{
    color: lightgreen;
}

.two :hover{
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: solid 2px rgb(32, 141, 32);
    border-bottom: solid 2px rgb(32, 141, 32);
    background-image: linear-gradient(lightgreen, rgb(144, 160, 238));
    color: rgb(32, 141, 32);
}

.done{
    display: flex;
    flex-wrap:wrap ;
    width: 100%;
    
    

    
}

.center{
    flex-direction: row;    
    color: aliceblue;
    background-image: linear-gradient(90deg,rgb(32, 67, 141), #d25b57);
    border-radius: 10px;
    margin: 30px;
    box-shadow: 
    0px 2px 10px rgba(36, 158, 36, 0.075), 
    0px 10px 20px rgba(36, 158, 36, 0.338), 
    0px 30px 60px 1px rgba(36, 158, 36, 0.495);
    padding: 20px ;
    width: 280px;
    height: 300px;
    overflow:hidden;
    word-break: break-all;
    text-overflow: ellipsis ;
    white-space: nowrap;
    display: inline-block;
    
}

.errorMessage {
    background-color: white;
    width: 143px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 107px;
    visibility: hidden;
    border-radius: 10px;
    position: relative;
    float: left;
}

.errorMessage.top-arrow:after {
    content: " ";
    position: absolute;
    right: 90px;
    top: -15px;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid white;
}

.done .d{
    color: black;
}
.b{
    color: black;
}
.e{
    float: right;
}
.container-fluid ul li a.active-page
{
    background-color:rgba(0, 255, 242, 0.545);
}