body{
    font-size: 15px;
    padding: 0px;
    background-image: url(./images/back1.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: Assistant, sans-serif;
    height: auto;
    width: 100%;
    margin: 0;

}

.done{
    display: flex;
    flex-wrap:wrap ;
    width: 100%;
}

.center{
    flex-direction: row;
    color: aliceblue;
    font-size: 1.3em;
    background-image: linear-gradient(90deg,rgb(32, 67, 141), #d25b57);
    border-radius: 10px;
    margin: 30px;
    box-shadow: 
    0px 2px 10px rgba(36, 158, 36, 0.075), 
    0px 10px 20px rgba(65, 36, 158, 0.338), 
    0px 30px 60px 1px rgba(91, 36, 158, 0.495);
    padding: 20px ;
    width: 300px;
    height: 310px;
    overflow:hidden;
    word-break: break-all;
    text-overflow: ellipsis ;
    white-space: nowrap;
    display: inline-block;
    opacity: 0.9;
}

.errorMessage {
    background-color: white;
    width: 143px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 107px;
    visibility: hidden;
    border-radius: 10px;
    position: relative;
    float: left;
}

.errorMessage.top-arrow:after {
    content: " ";
    position: absolute;
    right: 90px;
    top: -15px;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid white;
}

.done .d{
    color: black;
}

.e{
    float: right;
}

.center:hover{
    opacity: 1;
    
}