body{
    font-size: 15px;
    padding: 30px;
    background-color: lightgreen;
    color: lightgreen;
    font-family: Assistant, sans-serif;
    min-height: 90vh;
    background-image:url("/images/RegisteredTM.svg.png");
}

.navbar-brand .one :hover{
    color: white;
}

.two :hover{
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: solid 2px rgb(32, 141, 32);
    border-bottom: solid 2px rgb(32, 141, 32);
    background-image: linear-gradient(lightgreen, lightgreen);
    color: rgb(32, 141, 32);
}

.two :after{
    background-image: linear-gradient(90deg,rgb(32, 141, 32), #57d25b);
    color: lightgreen;
}

.form{
    margin: 60px;
    padding: 40px;
    font-size: 1.7rem;
    background-image: linear-gradient(90deg,rgb(32, 141, 32), #57d25b);
    width: 400px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 
    0px 2px 10px rgba(36, 158, 36, 0.075), 
    0px 10px 20px rgba(36, 158, 36, 0.338), 
    0px 30px 60px 1px rgba(36, 158, 36, 0.495);
    position: relative;
    left: 32%;
}

.form .head .title{
    font-size: 3.5rem;
    text-align: center;
}

input{
    padding: 5px;
    font-size: 1.3rem;
    border: solid 2px lightgreen;
    border-radius: 5px;
    background-color: lightgreen;
    color: rgb(32, 141, 32);
}

.name input{
    width: 100%;
}

.rollno input{
    width: 100%;
}

.class option{
    color: rgb(32, 141, 32);
}

.class select{
    background-color: lightgreen;
    border: solid 2px lightgreen;
    border-radius: 5px;
    padding: 3px;
    color: rgb(32, 141, 32);
}

.sports{
    display: flex;
    flex-direction: column;
}

.sports .sport{
    cursor: pointer;
    background-color: lightgreen;
    border: solid 2px lightgreen;
    border-radius: 5px;
    margin: 0 0 0 30px;
}

.email input{
    width: 100%;
}

.submit .button{
    width: 100%;
    text-transform: uppercase;
    font-size: 1.6rem;
    border: solid 2px lightgreen;
    background-image: linear-gradient(90deg,rgb(32, 141, 32), #57d25b);
    color: lightgreen;
    border-radius: 5px;
}

.submit .button:hover{
    background-image: linear-gradient(lightgreen, lightgreen);
    color: rgb(32, 141, 32);
    transition: 0.8s;
}


/* .squaredThree */
.squaredThree {
    width: 20px;
    position: relative;
    margin: 20px auto;
}
label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
}
label :after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}  
label :hover::after {
    opacity: 0.3;
}
.squaredThree input[type=checkbox] {
    width: 100%;
    visibility: hidden;
}
.squaredThree input :checked + label:after {
    opacity: 1;
}
  /* end .squaredThree */

.modal-content {
    margin: 60px;
    padding: 40px;
    font-size: 1.7rem;
    background-image: linear-gradient(90deg,rgb(32, 141, 32), #57d25b);
    width: 400px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 
    0px 2px 10px rgba(36, 158, 36, 0.075), 
    0px 10px 20px rgba(36, 158, 36, 0.338), 
    0px 30px 60px 1px rgba(36, 158, 36, 0.495);
    position: relative;
    left: 32%;
}

  