<html>
  <body>
    


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/index1.css">
    

   

    <div class="x">
        <h3>Total Count</h3>
        <div class="one">
        <table >
            <tr>
                <th>Basketball</th>     
                <th>Football</th> 
                <th>Volleyball</th>
            </tr>
            
            
            {% block body %}
            <tr>
                <td>{{basketball}}</td>
                <td>{{football}}</td> 
                <td>{{Volleyball}}</td>             
            </tr>      
            {% endblock %}
            
                                                      

            
        </table>

    </div>
  </div>

  <div class="x">
    <h3>Basketball Registrations</h3>
    <div class="one">
      <table>
        <tr>
          
                <th>Sport</th> 
                <th>RollNo</th>


        </tr>

        {% for x in bb %}
        <tr>
            <td>{{x[0]}}</td>
            <td>{{x[1]}}</td> 
                    
        </tr>      
        {% endfor%}

      </table>

    </div>
  </div>


  <div class="x">
    <h3>Football Registrations</h3>
    <div class="one">
      <table>
        <tr>
          
                <th>Sport</th> 
                <th>RollNo</th>


        </tr>

        {% for x in ff %}
        <tr>
            <td>{{x[0]}}</td>
            <td>{{x[1]}}</td> 
                    
        </tr>      
        {% endfor%}

      </table>

    </div>
  </div>


  <div class="x">
    <h3>Registrations</h3>
    <div class="one">
      <table>
        <tr>
          
                <th>Name</th> 
                <th>RollNo</th>
                <th>Sport</th>


        </tr>

        {% for x in intersect %}
        <tr>
            <td>{{x[0]}}</td>
            <td>{{x[1]}}</td> 
            <td>{{x[2]}}</td> 
                    
        </tr>      
        {% endfor%}

      </table>

    </div>
  </div>

  <div class="done">
    {% for x in tri %}   
    <div class="center">
     <center><h1 class="d">Event</h1></center> 
      <b>Name:</b><div class="e">{{x[0]}}</div><br>
      <b name="id1">ID:</b><div class="e">{{x[1]}}</div><br> 
      <b>Schedule:</b><div class="e">{{x[2]}}</div><br>
      <b>Rules:</b><div class="e">{{x[3]}}</div><br>
      <a href="./reroute">Click here.......</a>
    </div><br>
    {% endfor %}
  </div>   
  


  </body>
  </html> 


    

    
     
     
    
