<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="events.css">
    <title>Document</title>
</head>
<body>

    <div>
        <table class="table table-hover table-dark">
            <tr>
                <th>ID</th>
                <th> Name</th>
                <th>Schdule</th>
                <th> Rules</th>
                <th>Action</th>
                
            </tr>
    
            <tr>    
                {% for row in data%}
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
    
                <td >
                    <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#mymodal">Edit</a>
                    <a href="" class="btn btn-danger btn-xs">Delete</a>
    
                </td>
            </tr>
    
    hiii
    
    {% endfor %}
        </table>
    
    </div>
    
</body>
</html>