<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/static/registrations.css">
</head>
    <body>
        <nav class="x">
            <div class="container-fluid"  >
                <div class="navbar-header">
                    <a class="navbar-brand one" href="#">SMS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active two"><a href="./" class="one">Home</a></li>
                    <li class="two"><a href="./registrations" class="one">Register</a></li>
                    <li class="two"><a href="./login" class="one">Login</a></li>
                </ul>
            </div>
        </nav>
        <form action="" method="POST" name="myform" class="form">
            <div class="head">
                <h1 class="title">Registration Form</h1><br>
            </div>
            <div class="name">
                Name:<input type="text" placeholder=" Name*" name="name" required>
            </div>
            <br>
            <div class="rollno">
                ID:<input type="Number" placeholder=" Event ID.*" name="Id" required>

            </div>
            <br>

            <div class="name">
                Schedule:<input type="text" placeholder=" Schedule" name="Schedule" required>
            </div>
            <br>

            <div class="name">
                Rules:<textarea rows="2" cols="25" name="Rules" form="usrform">

                </textarea>
            </div>
            <br>

            submit: <input type="submit" name="" id="">
            
        </form>
    </body>
</html>