<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/static/registrations.css">
</head>
    <body>
        <nav class="x">
            <div class="container-fluid"  >
                <div class="navbar-header">
                    <a class="navbar-brand one" href="#">SMS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active two"><a href="./" class="one">Home</a></li>
                    <li class="two"><a href="./registrations" class="one">Register</a></li>
                    <li class="two"><a href="./addmain" class="one">Addevent</a></li>
                    <li class="two"><a href="./admin" class="one">Admin</a></li>
                    <li class="two"><a href="./logout" class="one">Logout</a></li>
                </ul>
            </div>
        </nav>
        <form action="{{url_for('index')}}" method="POST"  class="form">
            <div class="head">
                <h1 class="title">Registration Form</h1><br>
            </div>
            <div class="name">
                Name:<input type="text" placeholder=" Name*" name="name" required>
            </div>
            <br>
            <div class="rollno">
                id:<input type="Number" placeholder=" College Roll No.*" name="id" required>
            </div>
            <br>
            <div class="rollno">
                schedule:<input type="Name" placeholder=" College Roll No.*" name="schedule" required>
            </div>
            <br>
            <div class="rollno">
                rules:<input type="Name" placeholder=" College Roll No.*" name="rules" required>
            </div>
            <br>
            

            <div class="submit">
                <input type="submit" class="button">        
            </div>
           
        </form>
    </body>
</html>