<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/fornav.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <title>Event Registration Form</title>
    <link rel="stylesheet" href="/static/registrations.css">
</head>
    <body class="body">
        <nav class="x">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand one" href="#">SMS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="two"><a href="./admin" class="one">Home</a></li><li class="two"><a href="./admin/student_details" class="one">Student Details</a></li>
                    <li class="two"><a href="./admin/events" class="one">Events</a></li>
                    <li class="two"><a href="./admin/sport" class="one">Sport</a></li>
                    <li class="two"><a href="./dashboard" class="one">DashBoard</a></li>
                    <li class="two"><a href="./form2" class="one active-page">Add Event</a></li>
                    <li class="two"><a href="./logout" class="one">Logout</a></li>
                </ul>
            </div>
        </nav>

        <form action="/admin1" method="POST"  class="form">
            <div class="head">
                <h1 class="title">Event Registration Form</h1><br>
            </div>
            <div class="name">
                Name:<input type="text" placeholder=" Name*" name="name" required>
            </div>
            <br>
            <div class="ID">
                ID:<input type="Number" placeholder=" Event ID*" name="id" required>
            </div>
            <br>
            <div class="schedule">
                Schedule:<input type="text" placeholder=" Event Schedule*" name="schedule" required>
            </div>
            <br>
            <div class="rules">
                Rules:<input type="text" placeholder=" Event Rules*" name="rules" required>
            </div>
            <br>

            <div class="submit">
                <input type="submit" class="button" onclick="submi()">        
            </div>
        </form>
    </body>
    {% block script %}

    <script>
        function submi()
        {
            var name=document.getElementsByName("name")
            var number=document.getElementsByName("id")
            var classes123=document.getElementsByName("schedule")
            var department=document.getElementsByName("rules")
            
            var entry={
            name: name.value,
            number : number.value,
            classes123: classes123.value,
            department: department.value
            };

            fetch("${window.origin}/x",{
                method:"post",
                credentials: "include", 
                body:JSON.stringify(entry),
                cache:"no-cache",
                headers:new Headers({"content-type":"applicayion/json"})                
                
            })
        }
    </script>
    {% endblock %}
</html>