<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/static/registrations.css">
    
    
</head>
<body>
    
    <nav class="x">
        <div class="container-fluid"  >
            <div class="navbar-header">
                <a class="navbar-brand one" href="#">SMS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active two"><a href="./" class="one">Home</a></li>
                <li class="two"><a href="./registrations" class="one">Register</a></li>
                <li class="two"><a href="./login" class="one">Login</a></li>
            </ul>
        </div>
    </nav>

    <form action="" method="post" class="form">

    <div class="head">
        <h1 class="title">Login</h1><br>
    </div>

Username:<input type="name" name="username" placeholder="Username"><br>
Password:<input type="password" name="password" placeholder="Password"><br>
<div class="submit">
    <input type="submit" class="button">
</div>
</form>

    
</body>
</html>