<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/fornav.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Log In</title>
    <link rel="stylesheet" href="/static/registrations.css">
</head>
<body>
    <nav class="x">
        <div class="container-fluid"  >
            <div class="navbar-nav three">
                <li class="navbar-brand one" href="#" style="list-style-type: none;">SMS</li>
            </div>
            <ul class="nav navbar-nav">
                <li class="active two"><a href="./" class="one ">Home</a></li>
                <li class="two"><a href="./registrations" class="one">Register</a></li>
                <li class="two"><a href="./login" class="one active-page">Login</a></li>
            </ul>
        </div>
    </nav>
    <form action="" method="POST" name="myform" class="form">
        <div class="head">
            <h1 class="title">Login Form</h1><br>
        </div>
        <div class="class">
            <select class="login" name="log" required>
                <option value="">--Login as--</option>
                <option>Coordinator</option>
                <option>Faculty</option>
            </select>

            <select class="login" name="dep" required>
                <option value="">----</option>
                <option>COMP</option>
                <option>CIVIL</option>
                <option>MECH</option>
                <option>ETC</option>
            </select>
        </div>
        <div class="name">
            UserName:<input type="text" placeholder=" Enter Name" name="username" required>
        </div>
        <br>
        <div class="rollno">  
            Password:<input type="password" placeholder=" Enter Password" name="password"  required>
        </div>
        <br>
        
        <div class="submit">
            <input type="submit" class="button">        
        </div>
    </form>
</body>
</html>