<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Student Registration Form</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/static/fornav.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/registrations.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <body class="body">
        <nav class="x">
            <div class="container-fluid">
                <div class="navbar-nav three">
                    <li class="navbar-brand one" href="#" style="list-style-type: none;">SMS</li>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active two"><a href="./" class="one">Home</a></li>
                    <li class="two"><a href="./registrations" class="one active-page">Register</a></li>
                    <li class="two"><a href="./login" class="one">Login</a></li>
                </ul>
            </div>
        </nav>

        <form action="" method="POST" name="myform" class="form">
            <div class="head">
                <h1 class="title">Student Registration Form</h1><br>
            </div>
            <div class="name">
                Name:<input type="text" placeholder=" Name*" name="name1" required>
            </div>
            <br>
            <div class="rollno">
                Roll No.:<input type="Number" placeholder=" College Roll No.*" name="number1" required>
            </div>
            <br>
            <div class="class">
                Class:
                <select name="classes" required>
                    <option> --</option>
                    <option>FE</option>
                    <option>SE</option>
                    <option>TE</option>
                    <option>BE</option>
                </select>
                <select name="department" required>
                    <option> --</option>
                    <option>Computer</option>
                    <option>Civil</option>
                    <option>Mechanical</option>
                    <option>ETC</option>
                </select>
            </div>
            <br>
            <div class="sports">
                Interested Sport:<br>
                <p><input type="checkbox" name="sport" value="Basketball" class="sport"> Basketball</p>
                <p><input type="checkbox" name="sport" value="Football" class="sport"> Football</p>
                <p><input type="checkbox" name="sport" value="Volleyball" class="sport"> Volleyball</p>
            </div>
             <br>
            <div class="email">
                Email: <input type="email" placeholder=" Email*" name="email" required>
            </div>
            <br>
            <div class="submit">
                <input type="submit" class="button">
            </div>
        </form>
    </body>    
</html>