<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 


</head>
<body>

    
    <form action="" method="POST" name="myform" >
        <div class="form-row">
            <div class="form-group col-md-6">   
         Name:<input type="text"  class="form-control" placeholder="Name" name="name1" > <br><br>

         
         

        </div>
         Roll No:<input type="Number"  placeholder=" College RollNo" name="number1"> <br><br>
         class:
          <select name="class" >
            <option>--</option> 
            <option >FE</option>
            <option >SE</option>
            <option>TE</option>
            <option >BE</option>
         </select>

         <select name="department" id="">
            <option >--</option>
            <option> Comp</option>
            <option >Civil</option>
            <option >Mech</option>
            <option >ETC</option>
         </select>
         <br><br>


        Interested Sport:
       <input type="checkbox" name="sport[]" value="Basketball">  Basketball
        <input type="checkbox" name="sport[]" value="Football"> Football
       <input type="checkbox" name="sport[]" value="Volleyball">  Volleyball  
       <br><br>

       Email:<input type="Email" placeholder="Email" name="email"><br><br>

         

        <input type="submit" >
        </div>




        
	
    </form>

    
    
</body>
</html> 